In [50]:
#Q1
#ROLL Number: 022
a=10
b=20
print("The values are:", a, b)

The values are: 10 20

In [51]:
#Q2
#ROLL Number: 022
a=18
print(f"I am {a} years old")

I am 18 years old

In [52]:
3
#ROLL Number: 022
a=1
name="fogat"
print("Value of a is:", a)
print("Value of name is:", name)

Value of a is: 1
Value of name is: fogat

In [53]:
#Q4 (a)
#ROLL Number: 022
a, b, c=1, 2, 3
print(f"a is {a}, b is {b}, cis {c}")

a is 1, b is 2, cis 3

In [54]:
#Q4(b)
#ROLL Number: 022
a=b=c=1
print(f"a is {a}, b is {b}, cis {c}")

a is 1, b is 1, cis 1

In [55]:
#Q5
#ROLL Number: 022
print("2025", "07", "20", sep="/")

2025/07/20

#Q7
#ROLL Number: 022
#Ans: Values are 1 and Ram.

In [56]:
#Q8
#ROLL Number: 022
a=1
name="fogat"
pi=3.14
state=True
print("Type of a is ", type(a))
print("Type of name is ", type(name))
print("Type of pi is ", type(pi))
print("Type of state is ", type(state))

Type of a is  <class 'int'>
Type of name is  <class 'str'>
Type of pi is  <class 'float'>
Type of state is  <class 'bool'>

#Q9
#ROLL Number: 022
#Ans: The variables are 'a', 'name', 'pi', 'state'.

#10
#ROLL Number: 022
#23_test='PSAT'
#if='PSAT '

In [57]:
#Q11
#ROLL Number: 022
a=1
name="fogat"
print("Value of a is ", a)
print("His name is ", name)
#Ans: The expression-statements are:
#print("Value of a is "", a)
#print("His name is ", name)
#The assignment-statement:
#a=1
#name="Ram"

Value of a is  1
His name is  fogat

In [58]:
#Q12 (a)
#ROLL Number: 022
x=10
y=5
z=x+y
print(z)
print("x+y=", x+y)
#The statement with a mathematical expression inside a function call:
#print("x+y=", x+y)

15
x+y= 15

In [59]:
#Q12 (b)
#ROLL Number: 022
x=10
y=5
z=x-y
print(z)
print("x-y=", x - y)

5
x-y= 5

In [60]:
#Q12 (c)
#ROLL Number: 022
x=10
y=5
z=x*y
print(z)
print("x*y=", x*y)

50
x*y= 50

In [61]:
#Q12 (d(
#ROLL Number: 022
x=13
y=3
print("x/y is", x/y)
print("x//y is", x//y)

x/y is 4.333333333333333
x//y is 4

In [62]:
#Q12 (e)
#ROLL Number: 022
x=103
y=5
print("x%y=", x%y)
x=100
y=5
print("x%y=", x%y)

x%y= 3
x%y= 0

In [63]:
#Q12 (f)
#ROLL Number: 022
x=15
y=6
print("x**y=", x**y)

x**y= 11390625

In [64]:
#Q13 (a)
#ROLL Number: 022
import math
x=4.5467
print(math.ceil(x))
x=4.1467
print(math.ceil(x))
x=4
print(math.ceil(x))
x==4.5467
print(math.ceil(x))

5
5
4
4

In [65]:
#Q13 (b)
#ROLL Number: 022
import math
x=4.5467
print(math.floor(x))
x=4.1467
print(math.floor(x))
x=4
print(math.floor(x))
x==4.5467
print(math.floor(x))

4
4
4
4

In [66]:
#Q14
#ROLL Number: 022
integer=-20
print("Absolute value of -20 is:", abs(integer))
floating=-30.33
print("Absolute value of -30.33 is:", abs(floating))

Absolute value of -20 is: 20
Absolute value of -30.33 is: 30.33

In [67]:
#Q15 (a)
#ROLL Number: 022
a=33.22
b=300
if b>a:
 print("b is greater than a")

b is greater than a

In [68]:
#Q15 (b)
#ROLL Number: 022
a=300
b=33.22
if b>a:
 print("b is greater than a")

In [69]:
#15 (c)
#ROLL Number: 022
a=33
b=33
if b>a:
 print("b is greater than a")
elif a==b:
 print("a and b are equal")

a and b are equal

In [70]:
#Q15 (d)
#ROLL Number: 022
a=200
b=33
if b>a:
 print("b is greater than a")
elif a==b:
 print("a and b are equal")
else:
 print("a is greater than b")

a is greater than b

In [71]:
'''CODECHEF QUESTIONS :
Q1
RoLL Number: 022
1. START.
2. Read input numbers X, Y and Z.
3. Initialize T=X-Y+Z.
4. Display T.
5. END'''
X = int(input("Enter the total population of the town"))
Y = int(input("Enter the no. of people left the town"))
Z= int(input("Enter the no. of people migrated to the town"))
T= X - Y + Z
print(f"The final population of the town is {T} million")

Enter the total population of the town10
Enter the no. of people left the town5
Enter the no. of people migrated to the town5
The final population of the town is 10 million

In [74]:
'''ROLL Number: 022
1. START.
2. Import math module.
3. Read the input number N.
4. Initialize T=N/10.
5. Display T.
6. END'''
import math
N = int(input("Total item bought from shop"))
T=N/ 10
print("You need", math.ceil(T), "Polybags")

Total item bought from shop5
You need 1 Polybags

In [75]:
'''Q3
ROLL Number: 022
1. START.
2. Read the input numbers x and y.
3. Initialize a=x//2.
4. if a>y, display y.
5. if a<y, display a.
6. END.'''
x=int(input("Enter no. of bananas:"))
y=int(input("Enter no. of apples:"))
a=x//2
if a>y:
 print("The no. of chaats:", y)
else:
 print("The no. of chaats:", a)

Enter no. of bananas:12
Enter no. of apples:2
The no. of chaats: 2

In [77]:
6
'''Q5
ROLL Number: 022
1. START.
2. Read the input number a, b and k.
3. Initialize z=a-b, x=abs(z), y=x/k and ans=math.ceil(y).
4. Display ans.
5. END.'''
a=int(input("Enter chef's coordinate:"))
b=int(input("Enter chefina's coordinate:"))
k=int(input("Enter no. of steps chef can take at a time:"))
z=a-b
x=abs(z)
y=x/k
ans=math.ceil(y)
print("The total steps:", ans)

Enter chef's coordinate:10
Enter chefina's coordinate:5
Enter no. of steps chef can take at a time:6
The total steps: 1

In [78]:
'''Q6
ROLL Number: 022
1. START
2. Read the input numbers n and x.
3. Initialize a=n//x and b=a//3.
4. Display b.
5. END.'''
n=int(input("Enter journey time in min:"))
x=int(input("Enter time for a song to complete:"))
a=n//x
b=a//3
print("The no. of times song c played:", b)

Enter journey time in min:5
Enter time for a song to complete:32
The no. of times song c played: 0